In [1]:
import pandas as pd

In [2]:
ls ../../input/raw

ls: ../../input/raw: No such file or directory

In [3]:
weather = pd.read_csv('../../../input/raw/weather.csv')
spray = pd.read_csv('../../../input/raw/spray.csv')
train = pd.read_csv('../../../input/raw/train.csv')
test = pd.read_csv('../../../input/raw/test.csv')

In [4]:
def fix_dummies(row):
    if row['CULEX PIPIENS/RESTUANS'] == 1:
        row['CULEX PIPIENS'] = 1
        row['CULEX RESTUANS'] = 1
    return row

### Training Data

In [5]:
train.Date = pd.to_datetime(train.Date, infer_datetime_format=True)
train = train.groupby(['Date', 'Address', 'Species', 'Block', 'Street', 'Trap', 'AddressNumberAndStreet', 'Latitude', 'Longitude', 'AddressAccuracy', 'WnvPresent'])['NumMosquitos'].sum().reset_index()
train = train.drop(['Address', 'Block', 'Street', 'AddressNumberAndStreet'], axis=1)
train.Species = train.Species.astype(str)
train.Trap = train.Trap.astype(str)

In [6]:
## Dummifying species.
train = pd.concat([train, pd.get_dummies(train.Species)], axis=1)

In [7]:
train = train.apply(fix_dummies, axis=1).drop(['CULEX PIPIENS/RESTUANS'], axis=1)

In [8]:
rename_train = {
    'CULEX ERRATICUS': 'ERR',
    'CULEX PIPIENS': 'PIP',
    'CULEX RESTUANS': 'REST',
    'CULEX SALINARIUS': 'SAL',
    'CULEX TARSALIS': 'TARS',
    'CULEX TERRITANS': 'TERR',
    'Latitude': 'Lat',
    'Longitude': 'Long'
}

train = train.rename(index=str, columns=rename_train)

In [9]:
train = train[(train['Species'] != 'CULEX ERRATICUS') & (train['Species'] != 'CULEX TARSALIS')]

In [10]:
train.Species.value_counts()

CULEX PIPIENS/RESTUANS    3899
CULEX RESTUANS            2409
CULEX PIPIENS             1996
CULEX TERRITANS            216
CULEX SALINARIUS            83
Name: Species, dtype: int64

In [11]:
train.head()

,Date,Species,Trap,Lat,Long,AddressAccuracy,WnvPresent,NumMosquitos,ERR,PIP,REST,SAL,TARS,TERR
0,2007-05-29,CULEX PIPIENS/RESTUANS,T048,41.867108,-87.654224,8,0,1,0,1,1,0,0,0
1,2007-05-29,CULEX RESTUANS,T048,41.867108,-87.654224,8,0,2,0,0,1,0,0,0
2,2007-05-29,CULEX RESTUANS,T091,41.862292,-87.648860,8,0,1,0,0,1,0,0,0
3,2007-05-29,CULEX RESTUANS,T049,41.896282,-87.655232,8,0,1,0,0,1,0,0,0
4,2007-05-29,CULEX RESTUANS,T153,41.907645,-87.760886,8,0,1,0,0,1,0,0,0

In [12]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8603 entries, 0 to 8609
Data columns (total 14 columns):
Date               8603 non-null datetime64[ns]
Species            8603 non-null object
Trap               8603 non-null object
Lat                8603 non-null float64
Long               8603 non-null float64
AddressAccuracy    8603 non-null int64
WnvPresent         8603 non-null int64
NumMosquitos       8603 non-null int64
ERR                8603 non-null int64
PIP                8603 non-null int64
REST               8603 non-null int64
SAL                8603 non-null int64
TARS               8603 non-null int64
TERR               8603 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(9), object(2)
memory usage: 1008.2+ KB

In [13]:
train.to_csv('../../../input/clean/train_cleaned.csv')

### Testing Data

In [14]:
test.Date = pd.to_datetime(test.Date, infer_datetime_format=True)
test = test.drop(['Address', 'Block', 'Street', 'AddressNumberAndStreet'], axis=1)
test.Species = test.Species.astype(str)
test.Trap = test.Trap.astype(str)

In [15]:
test.head()

,Id,Date,Species,Trap,Latitude,Longitude,AddressAccuracy
0,1,2008-06-11,CULEX PIPIENS/RESTUANS,T002,41.95469,-87.800991,9
1,2,2008-06-11,CULEX RESTUANS,T002,41.95469,-87.800991,9
2,3,2008-06-11,CULEX PIPIENS,T002,41.95469,-87.800991,9
3,4,2008-06-11,CULEX SALINARIUS,T002,41.95469,-87.800991,9
4,5,2008-06-11,CULEX TERRITANS,T002,41.95469,-87.800991,9

In [16]:
## Dummifying species.
test = pd.concat([test, pd.get_dummies(test.Species)], axis=1)

In [17]:
test = test.apply(fix_dummies, axis=1).drop(['CULEX PIPIENS/RESTUANS'], axis=1)

In [18]:
rename_test = {
    'CULEX ERRATICUS': 'ERR',
    'CULEX PIPIENS': 'PIP',
    'CULEX RESTUANS': 'REST',
    'CULEX SALINARIUS': 'SAL',
    'CULEX TARSALIS': 'TARS',
    'CULEX TERRITANS': 'TERR',
    'Latitude': 'Lat',
    'Longitude': 'Long'
}

test = test.rename(index=str, columns=rename_test)

In [19]:
test.head()

,Id,Date,Species,Trap,Lat,Long,AddressAccuracy,ERR,PIP,REST,SAL,TARS,TERR,UNSPECIFIED CULEX
0,1,2008-06-11,CULEX PIPIENS/RESTUANS,T002,41.95469,-87.800991,9,0,1,1,0,0,0,0
1,2,2008-06-11,CULEX RESTUANS,T002,41.95469,-87.800991,9,0,0,1,0,0,0,0
2,3,2008-06-11,CULEX PIPIENS,T002,41.95469,-87.800991,9,0,1,0,0,0,0,0
3,4,2008-06-11,CULEX SALINARIUS,T002,41.95469,-87.800991,9,0,0,0,1,0,0,0
4,5,2008-06-11,CULEX TERRITANS,T002,41.95469,-87.800991,9,0,0,0,0,0,1,0

In [20]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Index: 116293 entries, 0 to 116292
Data columns (total 14 columns):
Id                   116293 non-null int64
Date                 116293 non-null datetime64[ns]
Species              116293 non-null object
Trap                 116293 non-null object
Lat                  116293 non-null float64
Long                 116293 non-null float64
AddressAccuracy      116293 non-null int64
ERR                  116293 non-null int64
PIP                  116293 non-null int64
REST                 116293 non-null int64
SAL                  116293 non-null int64
TARS                 116293 non-null int64
TERR                 116293 non-null int64
UNSPECIFIED CULEX    116293 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(9), object(2)
memory usage: 13.3+ MB

In [21]:
test.to_csv('../../../input/clean/test_cleaned.csv')

### Weather Data

In [22]:
def make_float(x):
    
    x = x.strip()
    
    if x.isnumeric():
        return float(x)
    
    if x == 'M' or x == 'T' or x == '-':
        return None
    
    return x

In [23]:
weather.Station_1 = weather.Station.apply(lambda x : 1 if x == 1 else 0)
weather.Station_2 = weather.Station.apply(lambda x : 1 if x == 2 else 0)

In [24]:
weather.head()

,Station,Date,Tmax,Tmin,Tavg,Depart,DewPoint,WetBulb,Heat,Cool,...,CodeSum,Depth,Water1,SnowFall,PrecipTotal,StnPressure,SeaLevel,ResultSpeed,ResultDir,AvgSpeed
0,1,2007-05-01,83,50,67,14,51,56,0,2,...,,0,M,0.0,0.00,29.10,29.82,1.7,27,9.2
1,2,2007-05-01,84,52,68,M,51,57,0,3,...,,M,M,M,0.00,29.18,29.82,2.7,25,9.6
2,1,2007-05-02,59,42,51,-3,42,47,14,0,...,BR,0,M,0.0,0.00,29.38,30.09,13.0,4,13.4
3,2,2007-05-02,60,43,52,M,42,47,13,0,...,BR HZ,M,M,M,0.00,29.44,30.08,13.3,2,13.4
4,1,2007-05-03,66,46,56,2,40,48,9,0,...,,0,M,0.0,0.00,29.39,30.12,11.7,7,11.9

In [25]:
weather.Date = pd.to_datetime(weather.Date, infer_datetime_format=True)

columns_to_int = ['Station', 'Tmax', 'Tmin', 'Tavg', 'Depart', 'DewPoint', 'WetBulb', 'Heat', \
                  'Cool', 'Sunrise', 'Sunset', 'Depth', 'SnowFall', 'PrecipTotal', 'StnPressure', \
                  'SeaLevel', 'ResultSpeed', 'ResultDir', 'AvgSpeed']

# weather.Water1 = weather.Water1.apply(lambda x : None if x == 'M' else x)

for col in columns_to_int:
    try:
        weather[col] = weather[col].astype('float')
    except:
        weather[col] = weather[col].apply(make_float)

In [26]:
weather = weather.drop(['Water1'], axis=1)

In [27]:
rename_weather = {
    'Tmax': 'Temp_Max',
    'Tmin': 'Temp_Min',
    'Tavg': 'Temp_Avg',
    'Depart': 'Temp_Norm_Dev',
    'DewPoint': 'Temp_Dew_Point',
    'WetBulb': 'Temp_Wet_Bulb',
    'Depth': 'Max_Snow_Depth',
}

weather = weather.rename(index=str, columns=rename_weather)

In [28]:
# Distance from weather station

In [29]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2944 entries, 0 to 2943
Data columns (total 21 columns):
Station           2944 non-null float64
Date              2944 non-null datetime64[ns]
Temp_Max          2944 non-null float64
Temp_Min          2944 non-null float64
Temp_Avg          2933 non-null float64
Temp_Norm_Dev     1472 non-null object
Temp_Dew_Point    2944 non-null float64
Temp_Wet_Bulb     2940 non-null float64
Heat              2933 non-null float64
Cool              2933 non-null float64
Sunrise           1472 non-null float64
Sunset            1472 non-null float64
CodeSum           2944 non-null object
Max_Snow_Depth    1472 non-null float64
SnowFall          1460 non-null object
PrecipTotal       2624 non-null object
StnPressure       2940 non-null object
SeaLevel          2935 non-null object
ResultSpeed       2944 non-null float64
ResultDir         2944 non-null float64
AvgSpeed          2941 non-null object
dtypes: datetime64[ns](1), float64(13), object(7)
memory usage: 506.0+ KB

In [30]:
weather.to_csv('../../../input/clean/weather_cleaned.csv')

### Spray Data

In [31]:
spray = spray.drop_duplicates()

In [32]:
spray.Date = pd.to_datetime(spray.Date, infer_datetime_format=True)
spray.Time = pd.to_datetime(spray.Time, infer_datetime_format=True).dt.time

In [33]:
rename_spray = {
    'Latitude': 'Lat',
    'Longitude': 'Long'
}

spray = spray.rename(index=str, columns=rename_spray)
spray = spray.drop(['Time'], axis=1)
spray.head()

        Date        Lat       Long
0 2011-08-29  42.391623 -88.089163
1 2011-08-29  42.391348 -88.089163
2 2011-08-29  42.391022 -88.089157
3 2011-08-29  42.390637 -88.089158
4 2011-08-29  42.390410 -88.088858

In [34]:
spray.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14294 entries, 0 to 14834
Data columns (total 3 columns):
Date    14294 non-null datetime64[ns]
Lat     14294 non-null float64
Long    14294 non-null float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 446.7+ KB

In [35]:
spray.to_csv('../../../input/clean/spray_cleaned.csv')